<!DOCTYPE html>
<html>

<head th:replace="fragments/base :: head(title=${buffet.nome})"></head>

<body>

	<div th:replace="fragments/base :: header"></div>

	<div class="container-fluid">
		
		<main class="row m-3">
			<div id="main-left" class="col-2"></div>
			<div id="main-center" class="col-8">
				
				<h5 class="text-center" th:text="${'Buffet ' + buffet.nome}"></h5>
				<div>
					<i class="bi bi-person"></i>
					Dello chef <a th:text="${buffet.chef.nome + ' ' + buffet.chef.cognome}"></a>
				</div>
				<div>
					<p th:text="${buffet.descrizione}"></p>
				</div>
	
				<br>
	
				<h5 class="text-center">Menù</h5>
				<div class="d-flex justify-content-center align-items-center">
					<hr class="hr-small" size="2">
				</div>
				<br>
				<ul class="list-group list-group-flush list-group-custom">
					<li class="list-group-item d-flex justify-content-between align-items-center" th:each="piatto : ${buffet.piatti}">
						<div>
							<span th:text="${piatto.nome}"></span>
							<p id="p-ingredients"
							th:text="${#strings.capitalize(#strings.listJoin(piatto.ingredienti.![#strings.toLowerCase(nome)], ', '))}">
							</p>
						</div>
						<a th:href="@{'/piatto/' + ${piatto.id}}" class="btn btn-primary btn-primary-custom">Dettagli</a>
					</li>
				</ul>
				
				<br>
				
				<div class="d-flex w-100 justify-content-end align-items-center">
					<span class="btn-group flex-wrap" sec:authorize="hasAuthority('ADMIN')">
						<a class="btn btn-dark" th:href="@{'/admin/buffet/' + ${buffet.id} + '/modifica'}">Modifica
							generalità</a>
						<a class="btn btn-dark" th:href="@{'/admin/buffet/' + ${buffet.id} + '/piatto/nuovo'}">Aggiungi
							piatto</a>
						<a class="btn btn-danger" th:href="@{'/admin/buffet/' + ${buffet.id} + '/cancella'}">Cancella</a>
					</span>
				</div>
	
			</div>
			<div id="main-right" class="col-2"></div>
		</main>
		
	</div>

	<div th:replace="fragments/base :: scripts"></div>

</body>

</html>