<!DOCTYPE html>
<html>

<head th:replace="fragments/base :: head(title='Piatti')"></head>

<body>
		
	<div th:replace="fragments/base :: header"></div>
	
	<div class="container-fluid">
		
		<main class="row m-3">
			<div id="main-left" class="col-2"></div>
			<div id="main-center" class="col-8">
				<div class="list-group">
					<a th:href="@{'/piatto/' + ${piatto.id}}" class="list-group-item list-group-item-action"
						th:each="piatto : ${piatti}">
						<div class="d-flex w-100 justify-content-between">
							<div>
								<span th:text="${piatto.nome}"></span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div id="main-right" class="col-2"></div>
		</main>
		
	</div>	
	
	<div th:replace="fragments/base :: scripts"></div>
	
</body>

</html>