<!DOCTYPE html>
<html>

<head th:replace="fragments/base :: head(title='Chef')"></head>

<body>
		
	<div th:replace="fragments/base :: header"></div>
	
	<div class="container-fluid">
		
		<main class="row m-3">
			<div id="main-left" class="col-2"></div>
			<div id="main-center" class="col-8">
				<div class="list-group">
					<a th:href="@{'/chef/' + ${chef.id}}" class="list-group-item list-group-item-action"
						th:each="chef : ${chefs}">
						<div class="d-flex w-100 justify-content-between align-items-center">
							<div>
								<div>
									<i class="bi bi-person"></i>
									<span th:text="${chef.nome + ' ' + chef.cognome}"></span>
								</div>	
								<div>
									<i class="bi bi-pin-map"></i>
									<span class="text-muted" th:text="${chef.nazione}"></span>
								</div>	
							</div>
							<span class="badge bg-dark rounded-pill"
								th:text="${#lists.size(chef.buffet) + ' buffet'}"></span>
						</div>
					</a>
				</div>
			</div>
			<div id="main-right" class="col-2"></div>
		</main>
		
	</div>	
	
	<div th:replace="fragments/base :: scripts"></div>
	
</body>

</html>