<!DOCTYPE html>

<head th:replace="fragments/base :: head(title='SIW Catering - Inserisci buffet')"></head>

<body>

	<div th:replace="fragments/base :: header"></div>

	<main class="container container-custom-form my-2">
		
		<h2 class="text-center">Inserisci buffet</h2>
		<br>
		<form th:action="@{'/admin/chef/' + ${chef.id} + '/buffet'}" method="post" th:object="${buffet}">
			<div class="mb-3">
				<label for="input-nome" class="form-label">Nome</label>
				<input type="text" th:field="*{nome}" class="form-control form-control-custom"
					th:classappend="${#fields.hasErrors('nome') ? 'is-invalid' : ''}" id="input-nome" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>
			</div>
			<div class="mb-3">
				<label for="input-descrizione" class="form-label">Descrizione</label>
				<input type="text" th:field="*{descrizione}" class="form-control form-control-custom"
					th:classappend="${#fields.hasErrors('descrizione') ? 'is-invalid' : ''}"
					id="input-descrizione" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
				</div>
			</div>
			<div class="d-grid">
				<button type="submit" class="btn btn-primary btn-primary-custom">Inserisci</button>
			</div>
		</form>
		
	</main>

	<div th:replace="fragments/base :: scripts"></div>

</body>

</html>