<!DOCTYPE html>

<head th:replace="fragments/base :: head(title='SIW Catering - Inserisci piatto')"></head>

<body>

	<div th:replace="fragments/base :: header"></div>

	<main class="container container-custom-form my-2">
		
		<h2 class="text-center">Inserisci piatto</h2>
		<br>
		<form th:action="@{'/admin/buffet/' + ${buffet.id} + '/piatto'}" method="post" th:object="${piatto}">
			<div class="mb-3">
				<label for="input-nome" class="form-label">Nome</label>
				<input type="text" th:field="*{nome}" class="form-control form-control-custom"
					th:classappend="${#fields.hasErrors('nome') ? 'is-invalid' : ''}" id="input-nome" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>
			</div>
			<div class="mb-3">
				<label for="textarea-descrizione" class="form-label">Descrizione</label>
				<textarea th:field="*{descrizione}" class="form-control form-control-custom textarea-descrizione"
					th:classappend="${#fields.hasErrors('descrizione') ? 'is-invalid' : ''}"
					id="textarea-descrizione" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
				</div>
			</div>
			<div class="mb-3">
				<label for="input-urlImmagine" class="form-label">URL immagine</label>
				<input type="text" th:field="*{urlImmagine}" class="form-control form-control-custom"
					th:classappend="${#fields.hasErrors('urlImmagine') ? 'is-invalid' : ''}"
					id="input-urlImmagine" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('urlImmagine')}" th:errors="*{urlImmagine}"></span>
				</div>
			</div>
			<div class="d-grid">
				<button type="submit" class="btn btn-primary btn-primary-custom">Inserisci</button>
			</div>
		</form>
		
	</main>

	<div th:replace="fragments/base :: scripts"></div>

</body>

</html>