<!DOCTYPE html>

<head>
	<title>Accedi</title>
</head>

<body>
	<h1>Accedi</h1>
	<div th:if="${param.error}">
		Credenziali errate.</div>
	<div th:if="${param.logout}">
		Hai effettuato il logout.</div>
	<form th:action="@{/login}" method="post">
		<div>
			<input type="text" name="username" placeholder="Username" />
		</div>
		<div>
			<input type="password" name="password" placeholder="Password" />
		</div>
		<input type="submit" value="Accedi" />
	</form>
	<span>Non hai ancora un account? <a th:href="@{/register}">Registrati</a>.</span>
</body>

</html>