<!DOCTYPE html>

<head th:replace="fragments/base :: head(title='SIW Catering - Modifica buffet')"></head>

<body>

	<div th:replace="fragments/base :: header"></div>

	<div class="container-fluid">

		<main class="row m-5">
			<div id="main-left" class="col-4"></div>
			<div id="main-center" class="col-4">
				<h2 class="text-center">Modifica buffet</h2>
				<br>
				<form th:action="@{'/admin/buffet/' + ${buffet.id} + '/modifica'}" method="post" th:object="${buffet}">
					<div class="mb-3">
						<label for="input-nome" class="form-label">Nome</label>
						<input type="text" th:field="*{nome}" class="form-control form-control-custom"
							th:classappend="${#fields.hasErrors('nome') ? 'is-invalid' : ''}" id="input-nome" />
						<div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
						</div>
					</div>
					<div class="mb-3">
						<label for="input-descrizione" class="form-label">Descrizione</label>
						<input type="text" th:field="*{descrizione}" class="form-control form-control-custom"
							th:classappend="${#fields.hasErrors('descrizione') ? 'is-invalid' : ''}"
							id="input-descrizione" />
						<div class="invalid-feedback">
							<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
						</div>
					</div>
					<input type="hidden" th:field="*{id}" />
					<input type="hidden" th:field="*{chef}" />
					<input type="hidden" th:field="*{piatti}" />
					<div class="d-grid">
						<button type="submit" class="btn btn-primary btn-primary-custom">Salva modifiche</button>
					</div>
				</form>
			</div>
			<div id="main-right" class="col-4"></div>
		</main>

	</div>

	<div th:replace="fragments/base :: scripts"></div>

</body>

</html>