<!DOCTYPE html>

<head th:replace="fragments/base :: head(title='Modifica ingrediente')"></head>

<body>

	<div th:replace="fragments/base :: header"></div>

	<main class="container container-custom-form my-2">

		<h2 class="text-center">Modifica ingrediente</h2>
		<br>
		<form th:action="@{'/admin/piatto/' + ${piattoId} + '/ingrediente/' + ${ingrediente.id} + '/modifica'}"
			method="post" th:object="${ingrediente}">
			<div class="mb-3">
				<label for="input-nome" class="form-label">Nome</label>
				<input type="text" th:field="*{nome}" class="form-control form-control-custom"
					th:classappend="${#fields.hasErrors('nome') ? 'is-invalid' : ''}" id="input-nome" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>
			</div>
			<div class="mb-3">
				<label for="textarea-descrizione" class="form-label">Descrizione</label>
				<textarea th:field="*{descrizione}" class="form-control form-control-custom textarea-descrizione"
					th:classappend="${#fields.hasErrors('descrizione') ? 'is-invalid' : ''}"
					id="textarea-descrizione" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
				</div>
			</div>
			<div class="mb-3">
				<label for="input-origine" class="form-label">Origine</label>
				<input type="text" th:field="*{origine}" class="form-control form-control-custom"
					th:classappend="${#fields.hasErrors('origine') ? 'is-invalid' : ''}" id="input-origine" />
				<div class="invalid-feedback">
					<span th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>
				</div>
			</div>
			<input type="hidden" th:field="*{id}" />
			<div class="d-grid">
				<button type="submit" class="btn btn-primary btn-primary-custom" th:text="#{SAVE_CHANGES}"></button>
			</div>
		</form>

	</main>

	<div th:replace="fragments/base :: scripts"></div>

</body>

</html>