<!DOCTYPE html>

<head th:replace="fragments/base :: head(title='Registrati')"></head>

<body>

		<main class="container container-custom-form my-5">
			
			<h1 class="text-center">SIW Catering - Registrati</h1>
			<br>
			<form th:action="@{/register}" method="post">
				<div class="mb-3">
					<label for="input-username" class="form-label">Username</label>
					<input type="text" th:field="${credentials.username}" class="form-control form-control-custom"
						th:classappend="${#fields.hasErrors('credentials.username') ? 'is-invalid' : ''}"
						id="input-username" />
					<div class="invalid-feedback">
						<span th:if="${#fields.hasErrors('credentials.username')}"
							th:errors="${credentials.username}"></span>
					</div>
				</div>
				<div class="mb-3">
					<label for="input-password" class="form-label">Password</label>
					<input type="password" th:field="${credentials.password}"
						class="form-control form-control-custom"
						th:classappend="${#fields.hasErrors('credentials.password') ? 'is-invalid' : ''}"
						id="input-password" />
					<div class="invalid-feedback">
						<span th:if="${#fields.hasErrors('credentials.password')}"
							th:errors="${credentials.password}"></span>
					</div>
				</div>
				<div class="mb-3">
					<label for="input-nome" class="form-label">Nome</label>
					<input type="text" th:field="${user.nome}" class="form-control form-control-custom"
						th:classappend="${#fields.hasErrors('user.nome') ? 'is-invalid' : ''}" id="input-nome" />
					<div class="invalid-feedback">
						<span th:if="${#fields.hasErrors('user.nome')}" th:errors="${user.nome}"></span>
					</div>
				</div>
				<div class="mb-3">
					<label for="input-cognome" class="form-label">Cognome</label>
					<input type="text" th:field="${user.cognome}" class="form-control form-control-custom"
						th:classappend="${#fields.hasErrors('user.cognome') ? 'is-invalid' : ''}"
						id="input-cognome" />
					<div class="invalid-feedback">
						<span th:if="${#fields.hasErrors('user.cognome')}" th:errors="${user.cognome}"></span>
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-primary-custom">Registrati</button>
			</form>
			<br>
			<span>Hai già un account? <a th:href="@{/login}">Accedi</a>.</span>
			
		</main>

	<div th:replace="fragments/base :: scripts"></div>
</body>

</html>